$primary-color: #cd5c5c !default;
$white: #fbfcfd !default;
$black: #0f1923 !default;
$smoke: #ece8e1 !default;
$success: #4bb543 !default;
$error: #ff3c3c !default;

$text-color: #2a2d30 !default;

$default-size: 1.5em;

$height: 40px;
$transition: 0.3s ease-out all;
